venv
*.pyc
migrations 
vagrant/.vagrant
vagrant/site.retry
vagrant/a4keypair.pem
MovieSummaries/
.ipynb_checkpoints/
MovieSummaries.tar.gz
MyProject.komodoproject
reviews_Movies_and_TV_5.json.gz
.komodotools
.DS_Store
app/irsystem/.DS_Store
app/irsystem/.DS_Store
app/irsystem/controllers/DatasetInfo/gensim_glove.6B.50d.txt