/* Background */
body {
	background-color: #1e1e1e;
}

/* All Text */
h1, h2, p, #inForm{
	font-family : courier;
	text-align : center;
	color : #fdeb8c;
}

/* Element Specific */
h1 {
	font-size : 50px;
	font-weight: bold;
}

h2 {
	font-size : 20px;
}

.inFormSearch {
	background-color : #cdbb60;
	border: none;
	border-radius: 30px;
	font-size : 16px;
	margin-bottom: 10px;
	width : 50%;
	height: 40px;
	display: inline-flex;
}

::placeholder {
  color: #262626;
}

#slider {
  -webkit-appearance: none;
  width: 20%;
  height: 15px;
  background: #cdbb60;
  border-radius: 30px;
  outline: none;
}

#inFormSearchBar {
	width : 100%;
	background: none;
	color : #1e1e1e;
	font-size: 16px;
	font-family : courier;
	text-align: center;
	border: none;
	height: 100%;
	outline: none;
}

#inFormKeyBar {
	width : 30%;
	background: none;
	color : #1e1e1e;
	font-size: 16px;
	font-family : courier;
	text-align: center;
	border: none;
	height: 100%;
	outline: none;
}

#tinyLine {
	background-color: #1e1e1e;
	width : 0.5%;
	height: 70%;
	margin-bottom: 5px;
	margin-top: 7px;
	border: none;
	border-radius: 30px;
}

.awesomplete > ul {
	color : #fdeb8c;
}

.styleButton{
	background-color : #eedd82;
	color : #1e1e1e;
	font-family : courier;
	border : none;
	margin-top: 10px;
	border-radius : 20px;
	font-size : 16px;
	padding : 10px;
}

#searchButton{
	width : 5%;
}

.styleButton:focus{
	outline: none;
}

.styleButton:hover{
	background-color: #cdbb60;
}

#Output {
	text-align: center;
}

.outputCard{
	border : 2px solid #fdeb8c;
	border-radius : 10px;
	width: 70%;
	text-align: center;
	display: inline-flex;
	margin: 5px;
	padding: 10px;
}

.specCard{
	border : 2px solid #fdeb8c;
	border-radius : 10px;
	width: 70%;
	text-align: center;
	display: inline-block;
	margin: 5px;
	padding: 20px;
}

.outputCardText{
	display: inline-block;
	margin: 5px;
	text-align: center;
}

.outputCardImg{
	border : 2px solid #fdeb8c;
	border-radius : 10px;
	width: 15%;
	height: 20%;
	display: inline-block;
	margin: 5px;
	text-align: center;
}

.trope {
  display: inline;
}

.trope .tropeText {
  visibility: hidden;
  width: 500px;
  background-color: #1e1e1e;
  color: #eedd82;
  text-align: center;
  border : 2px solid #eedd82;
  border-radius : 10px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.trope:hover .tropeText {
  visibility: visible;
}

.title{
	font-size: 30px;
	margin: 0px;
}

.author{
	font-size: 20px;
	margin: 0px;
}

p.summaryText{
	text-align: justify;
}

a.linkNoStyle{
	color: inherit;
	text-decoration: inherit;
}

#searchButton {
	background-color: #eedd82;
}

#searchButton:hover {
	background: #cdbb60;
}

#searchButton:focus {
	outline: none;
}

#invertButton {
	position: absolute;
	top: 10px;
	right: 10px;
}