/* Background */
body {
	background-color: #FFF7DF;
}

/* All Text */
h1, h2, p, #inForm{
	font-family : courier;
	text-align : center;
	color : #16264C;
}

/* Element Specific */
h1 {
	font-size : 50px;
	font-weight: bold;
}

h2 {
	font-size : 20px;
}

.inFormSearch {
	background-color : #7e83a0;
	border: none;
	border-radius: 30px;
	font-size : 16px;
	padding : 15px;
	margin-bottom: 10px;
	width : 50%;
	height: 25px;
	display: inline-block;
}

.inFormKeyword {
	background-color : #7e83a0;
	border: none;
	border-radius: 30px;
	font-size : 16px;
	padding : 15px;
	margin-bottom: 10px;
	width : 10%;
	height: 25px;
	display: inline-block;
}

::placeholder {
  color: #f7f4e8;
}

#inFormSearchBar {
	width : 100%;
	background: none;
	color : #FFF7DF;
	font-size: 16px;
	font-family : courier;
	text-align: center;
	border: none;
	height: 100%;
	outline: none;
}

#slider {
  -webkit-appearance: none;
  width: 20%;
  height: 15px;
  background: #7e83a0;
  border-radius: 30px;
  outline: none;
}

#awesomplete_list_1 {
	font-family : courier;
	text-align : center;
	color : #16264C;
}

.styleButton{
	background-color : #616684;
	color : #FFF7DF;
	border : none;
	font-family : courier;
	border-radius : 20px;
	margin-top: 10px;
	font-size : 16px;
	padding : 10px;
}

.styleButton:hover{
	background-color: #7e83a0;
}

#Output {
	text-align: center;
}

.outputCard{
	border : 2px solid #16264C;
	border-radius : 10px;
	width: 70%;
	text-align: center;
	display: inline-flex;
	margin: 5px;
}

.specCard{
	border : 2px solid #16264C;
	border-radius : 10px;
	width: 70%;
	text-align: center;
	display: inline-block;
	margin: 5px;
}

.outputCardText{
	display: inline-block;
	margin: 5px;
	text-align: center;
}

.outputCardImg{
	border : 2px solid #16264C;
	border-radius : 10px;
	width: 15%;
	height: 20%;
	display: inline-block;
	margin: 5px;
	text-align: center;
}


.title{
	font-size: 30px;
	margin: 0px;
}

.author{
	font-size: 20px;
	margin: 0px;
}

p.summaryText{
	text-align: justify;
}

a.linkNoStyle{
	color: inherit;
	text-decoration: inherit;
}

#searchButton {
	background: #616684;
}

#searchButton:hover {
	background: #7e83a0;
}