/* All Text */
h1, h2, p{
	font-family : courier;
	text-align : center;
	color : #16264C;
}

/* Element Specific */
h1 {
	font-size : 50px;
}

h2 {
	font-size : 20px;
}

#inForm {
    text-align : center;
}

#Output{
	text-align: center
}
.outputCard{
	display : inline;
	border : 2px solid #16264C;
	border-radius : 10px;
	padding: 2px;
}