/* Background */
body {
	background-color: #1e1e1e;
}

/* All Text */
h1, h2, p, #inForm{
	font-family : courier;
	text-align : center;
	color : #e1e1e1;
}

/* Element Specific */
h1 {
	font-size : 50px;
	font-weight: bold;
}

h2 {
	font-size : 20px;
}

.inFormSearch {
	background-color : #909090;
	border: none;
	border-radius: 30px;
	font-size : 16px;
	padding : 15px;
	margin-bottom: 10px;
	width : 50%;
	height: 25px;
	display: inline-block;
}


::placeholder {
  color: #262626;
}

#slider {
  -webkit-appearance: none;
  width: 10%;
  height: 25px;
  background: #909090;
  border-radius: 30px;
  outline: none;
}

#inFormSearchBar {
	width : 100%;
	background: none;
	color : #1e1e1e;
	font-size: 16;
	text-align: center;
	font-family : courier;
	border: none;
	height: 100%;
	outline: none;
}

#awesomplete_list_1 {
	font-family : courier;
	text-align : center;
	color : #16264C;
}

.styleButton{
	background-color : #b4b4b4;
	color : #1e1e1e;
	font-family : courier;
	border : none;
	margin-top: 10px;
	border-radius : 20px;
	font-size : 16px;
	padding : 10px;
}

#Output {
	text-align: center;
}

.outputCard{
	border : 2px solid #e1e1e1;
	border-radius : 10px;
	width: 70%;
	text-align: center;
	display: inline-flex;
	margin: 5px;
}

.specCard{
	border : 2px solid #e1e1e1;
	border-radius : 10px;
	width: 70%;
	text-align: center;
	display: inline-block;
	margin: 5px;
}

.outputCardText{
	display: inline-block;
	margin: 5px;
	text-align: center;
}

.outputCardImg{
	border : 2px solid #e1e1e1;
	border-radius : 10px;
	width: 15%;
	height: 20%;
	display: inline-block;
	margin: 5px;
	text-align: center;
}

.title{
	font-size: 30px;
	margin: 0px;
}

.author{
	font-size: 20px;
	margin: 0px;
}
