/* Background */
body {
	background-color: #FFF7DF;
}

/* All Text */
h1, h2, p, #inForm{
	font-family : courier;
	text-align : center;
	color : #16264C;
}

/* Element Specific */
h1 {
	font-size : 50px;
	font-weight: bold;
}

h2 {
	font-size : 20px;
}

#Output{
	text-align: center
}

.outputCard{
	border : 2px solid #16264C;
	border-radius : 10px;
}

.title{
	font-size: 30px;
	margin: 0px;
}

.author{
	font-size: 20px;
	margin: 0px;
}