<html>
	<head>
		<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"> </script>
		<link rel="stylesheet" type="text/css" href="/static/main.css">
		<link rel="stylesheet" type="text/css" href="/static/awesomplete/awesomplete.css">
		<script src="/static/awesomplete/awesomplete.js" async></script>
	</head>
	<script type="text/javascript">
		function useInspiration(insp){
			link = "/?searchType=MB&search=" + insp
			window.location.href = link;
		}
	</script>

	<body>
		<div id = "Header">
			<h1>The Book Was Better.</h1>
			<h2>Literature recommendations for the age of film.</h2>

			<form id="inForm">
				<input type="radio" name="searchType" value="MB" checked> Movie --> Book <br>
  				<input type="radio" name="searchType" value="BM"> Book --> Movie <br><br>
  				<div id = "inFormSearch">
  					<input class="awesomplete" list="valid" id = "inFormSearchBar" name="search" placeholder="Input" />
					<datalist id="valid">
						{{valids[1]}}
					</datalist>
  				</div>  				
        	</form>
		</div>

		<div id = "Output">
        	{% if invalidQuery == "FirstLoad" %}
        		<p>Not much of a movie buff?<br>Here's some inspiration!</p>
        		{% for i in insp %}
        			<button type = "button" class = "inspiration" onclick="useInspiration('{{i}}'.replace('%20','+'))">{{i}}</button><br>
        		{% endfor %}
        	{% endif %}

        	<h2>{{output_message}}</h2>

        	{% if data %}
	            {% for d in data %}
	            	<div class = "outputCard">
	                	<p class = "title">{{d[0]}}</p>
	                	<p class = "author">{{d[1]}}</p>
	                	<p><i>Similarity Score</i>: {{d[2]}}</p>
	                	<p>
	                		{% for trope in d[3] %}
	                			{{trope}}
	                		{% endfor %}
	                	</p>
	                </div>
	                <br>
	            {% endfor %}
        	{% endif %}
		</div>
	</body>
</html>