<html>
	<head>
		<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"> </script>
		<link rel="stylesheet" type="text/css" href="/static/main.css">
	</head>

	<body style="background-color: #FFF7DF;">
		<div id = "Header">
			<h1>The Book Was Better.</h1>
			<h2>Literature reccomendations for the age of film.</h2>
			<form id="inForm">
	            <input type="text" name="search" placeholder="Input a Movie">
            	<button type="submit"> Go! </button>
        	</form>
		</div>

		<div id = "Output">
			<h2>OUTPUT HERE</h2>
			<form id="outForm">
	        	{% if data %}
		            <p>{{output_message}}</p>
		            {% for d in data %}  
		                <br>
		                <p>{{d}}</p>
		            {% endfor %}
	        	{% endif %}
       		</form>
		</div>
	</body>
</html>