<html>
	<head>
		<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"> </script>
<!-- 		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
 -->		<link rel="stylesheet" type="text/css" href="/static/main.css">
	</head>

	<body style="background-color: #FFF7DF;">
		<div id = "Header">
			<h1>The Book Was Better.</h1>
			<h2>Literature reccomendations for the age of film.</h2>

			<form id="inForm">
				<input type="radio" name="searchType" value="MB" checked> Movie --> Book <br>
  				<input type="radio" name="searchType" value="BM"> Book --> Movie <br>
	            <input type="text" name="search" placeholder="Input">
            	<button type="submit"> Go! </button>
        	</form>
		</div>

		<div id = "Output">
        	{% if data %}
	            <h2>{{output_message}}</h2>
	            {% for d in data %}
	            	<div class = "outputCard">
	                	<h2>{{d[0]}}</h2>
	                	<p>Similarity: {{d[1]}}</p>
	                	<p>Tropes: {{d[2]}}</p>
	                </div>
	                <br>
	            {% endfor %}
        	{% endif %}
		</div>
	</body>
</html>